{% block notice %}
    {% if error %}
    <div class="offset-1 col-md-10" style="margin-top: 15px">
            <div class="card card-header bg-warning">
                <p class="h3 text-center">Что-то пошло не так. Проверьте данные и попробуйте еще раз.
                </p>
            </div>
            <div class="card card-header bg-warning">
                <p class="h3 text-center">{{ error }}</p>
            </div>
            {% if non_field_errors %}
                <div class="card-body">
                    {% for error in non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}